@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Cinzel, sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation bar*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* knitting image */

#cover-text, #cover-text h2 {
    color: #fff;

}

/*knitting-outer */

#outer-cover {
    height: 360px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#knitting-image {
    height: 360px;
    width: 100%;
    background: url(../images/cozy-background-wallpaper-with-yarn-knitting.jpg) no-repeat right center;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 4px;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(96, 157, 159, 0.5);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* About us */
#about-us {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    margin-left: 30px;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    margin-left: 30px;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    margin-left: 30px;
}

/* footer */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.directory > li {
    list-style-type: none;
}

.directory, a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

/* project */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* knit along */

#knit-along-intro {
    clear:left;
    height: 400px;
}

#knit-along-right {
    padding-top: 30px;
    width: 45%;
    float: right;
    margin-right: 30px;
}
#knit-along-left {
    padding-top: 30px;
    width: 45%;
    float: left;
    margin-left: 30px;
}

.form-section {
    clear: left;
    height: 800 px;
}
#knitting-at-home {
    height: 800px;
    width: 100%;
    background: url(../images/home-hobbies-knitting-threads-table.jpg) no-repeat right center;
}
.sign-up-knit-along {
    margin: 0 auto;
    background-color: rgb(96, 157, 159, 0.5);
    max-width: 600px;
    position: relative;
    padding: 50px;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #3a3a3a;
    border-radius: 2px;

}

.text-input:hover {
    border-color: rgba(127, 255, 223, 0.694);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(127, 255, 223, 0.694);
    display: block;
}

.form-section ul {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.join-button:hover {
    background-color: #fff;
    color: rgba(127, 255, 223, 0.694);
}

/* tutorials */
#how-to-videos {
    clear:both;
    height: 600px;
    margin-left: 30px;
}

/* contact */

.contact {
    clear:left;
    margin: 0 auto;
    background-color: rgb(96, 157, 159, 0.5);
    max-width: 400px;
    position: relative;
    padding: 50px;
}

.contact-form {
    height: 200 px;
}

/* Media queries */

/* For large to medium screens from 1200px wide and down */
/*@media screen and (max-width: 1200px) {
#    
}
*/

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    line-height: 25px;
}    

#cover-text {
    left: 0px;
}

#photos {
    column-count: 3;
}
}

/* For small screen sizes from 800px wide and down */
@media  screen and (max-width: 800px) {
#photos {
    column-count: 2;
}    
}