@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Cinzel, sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    color: red;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation bar*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* knitting image */

#cover-text, #cover-text h2 {
    color: #fff;

}

/*knitting-outer - think about adding, also need to add position for the image to keep the text box in line*/

#knitting-image {
    height: 600px;
    width: 100%;
    background: url () no-repeat center center;
}

#cover-text {
    font-size: 130%;
    letter-spacing: 4px;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(96, 157, 159, 0.5);

    bottom: 30px;
    right: 150px;

    position: absolute;

}